/* CSS File for CS50w Git Chapter - Susan Shrestha (cNobi) */


            * {
                margin: 0;
                padding: 0;

            }

            html {
                font-size: 1.2rem;
            }

            #logo img {
                width: 120px;
                height: 50px;
                
                

            }

            #logo img:hover {
                width: 100px;
                height: 50px;
                transform: rotate(50deg);
                transition: 2s;

            }

            header, main {
                margin: auto;
                width: 80%;
                padding: 5%;
            }

            header #logo {
                display: inline;
                float: left;
            }

            

            nav ul li {
                display: inline;
                padding: 4px;
            }

            nav ul li a {
                text-decoration: none;
                font-size: 16px;
            }

            nav ul li a:hover {
                text-decoration: none;
                font-size: 16px;
                color: rgb(240, 46, 33); <!--fixed-->
                font-weight: bold;
            }

            #top-nav-bar {
                padding: 10px;
                background: rgba(241, 99, 56, 0.2); <!--fixed-->
            }
